<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Create your to-do list. You have 7 days to complete your task before it self destructs!</p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default' %> or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %> today!
  </p>

</div>