  <h4><%= item.name %></h4>
  <p>This task will self-destruct in <%= item.days_left %> days.</p>
  <%= link_to "complete", item, method: :delete, class: 'glyphicon glyphicon-ok', data: { confirm: 'Are you sure you want to delete this task?'} %>

  </br>

  <br>