</br>
<div class="row">
   <div class="col-md-8">
     <div class="media">
       <div class="media-body">
         <h2 class="media-heading">Hello <%= @user.name %>!</h2>
       </div>
     </div>
   </div>
 </div> 

<br/>
<div class="row">
<div class="col-md-10">

<h2>My List</h2>
<%= render @items %>

  <div class='new-item'>
    <%= render partial: 'items/form', locals: { item: Item.new } %>
  </div>
</div>
</div>