</br>

<div class="row">
   <div class="col-md-8">
      <h2 class="media-heading">Hello <%= @user.name %>!</h2>
   </div>
</div> 

<br/>

<div class="row">
  <div class="col-md-6">
    <h2>Active Tasks </h2>

<br>

    <%= render @items %>

    <div class='new-item'>
      <%= render partial: 'items/form', locals: { item: Item.new } %>
    </div>

  </div>
</div>